**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
*.tfplan
.terraform.lock.hcl

packer_cache/
*.box

application/backend/.env
**/.env


.jenkins/

.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

*.pem
*.ppk